.small-card {
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  border-radius: 20px;
}

.small-img {
  border-radius: 6px;
  width: fit-content;
  padding: 22px;
}

.small-card > h4 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}
