.bigcardleft-container {
  background-color: #ffa500;
  margin: 100px 112px;
  border-radius: 30px;
  padding: 80px 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  overflow: hidden;
}

.bigcardleft-container h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
}

.bigcardleft-container p {
  font-size: 20px;
  font-weight: 400;
}

.location-icon-left {
  position: absolute;
  right: 0;
  bottom: 0;
}

.location-icon-left img {
  opacity: 0.1;
}

@media all and (max-width: 1050px) {
  .image-container > img {
    height: 400px;
  }
}

@media all and (max-width: 900px) {
  .bigcardleft-container {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    gap: 10px;
    margin: 20px;
  }
  .bigcardleft-container h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .image-container > img {
    height: 300px;
  }

  .bigcardleft-container p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media all and (max-width: 670px) {
  .image-container > img {
    height: 200px;
  }
}
