.header-container {
  display: flex;
  padding: 20px 112px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-container > div {
  width: 50%;
}

.text-section h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 110%;
  margin: 15px 0;
  max-width: 90%;
}

.text-section p {
  width: 80%;
  text-align: justify;
}

.header-container .image-section {
  display: flex;
  justify-content: end;
}

.header-container .image-section > img {
  max-width: 100%;
  width: 680px;
}

.btns-container {
  width: 80%;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .text-section h1 {
    font-size: 50px;
  }
  .btns-container > button {
    margin-right: 1rem;
  }
}

@media all and (max-width: 900px) {
  .header-container {
    padding: 20px;
  }
}

@media all and (max-width: 700px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .header-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .text-section h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 110%;
    margin: 15px 0;
    max-width: 100%;
  }
  .btns-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
