body {
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.comingsoon-tag {
  width: 100%;
  background-color: #ffa500;
  height: 100px;
  overflow: hidden;
}

.comingsoon-tag h3 {
  font-size: 70px;
  margin: 0;
  font-weight: 700;
  color: #a86d00;
  animation: animate 15s linear infinite;
  padding-left: 100%;
  display: inline-block;
  white-space: nowrap;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.special {
  color: #ffa500;
}

.features {
  padding: 0 112px;
}

.small-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 70px;
}

@media all and (max-width: 1000px) {
  .small-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 70px;
  }
}

@media all and (max-width: 900px) {
  .features {
    padding: 0 20px;
  }
  h2 {
    font-size: 35px;
  }
}

@media all and (max-width: 700px) {
  .small-cards-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .comingsoon-tag {
    width: 100%;
    background-color: #ffa500;
    height: 60px;
    overflow: hidden;
  }

  .comingsoon-tag h3 {
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    color: #a86d00;
    animation: animate 15s linear infinite;
    padding-left: 100%;
    display: inline-block;
    white-space: nowrap;
  }
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}
